/*  your css code here. If applicable */
body{
	background-color: #f5f5f5;
}
.header{
	text-align:center;
	padding:20px;
	background-color: #011e29;
	color:white;
	font-weight:bold;
	font-size:20px;
}
.latest-news-section{
 	
	text-align:center;
	padding:15px;
	width:150px;
	background-color: white;
	border-radius:10px;
	margin:7px;
	height:fit-content;
}
.main{
	width:250px;
}
.third{
	width:220px;
}
img{
	width:170px;
	border-radius:10px;
}
.bodyContainer{
	display:flex; 
}